@page
@model Grade_Manager_Razor.Pages.AssignmentsModel
@{
    ViewData["Title"] = "Assignments";
}

<div>
    <h2>Assignments</h2>
    <form>
        <label for="assignment">Assignment:</label>
        <input type="text" id="aName" name="aName" value="Assignment to Add">
        <input type="submit" value="Submit">
    </form>

    <table>
        <tr>
            <td>Lab 1</td>
            <td><button> Edit </button><button> Remove </button><button> Grade </button></td>
        </tr>

        <tr>
            <td>Lab 2</td>
            <td><button> Edit </button><button> Remove </button><button> Grade </button></td>
        </tr>

        <tr>
            <td>Lab 3</td>
            <td><button> Edit </button><button> Remove </button><button> Grade </button></td>
        </tr>        
    </table>
    <table>        
        <tr>
            <td>This students best grade </td><td>92.5</td>
        </tr>       
        <tr>
            <td> This students worst grade </td><td> 78</td>           
        </tr>       
    </table>


</div>