@page
@model Grade_Manager_Razor.Pages.ClassRooms.ShowAllClassRoomsModel
@{
    ViewData["Title"] = "Show All ClassRooms";
}

<h1>@ViewData["Title"]</h1>

<div>
    @*<table>
        <thead>
            <tr>
                <td>ClassRoom Name</td>               
            </tr>
        </thead>
        @foreach (var item in Model.ClassRoom)
        {
            <tr>
                <td>@item.Name</td><td><button>Edit</button></td><td><button>Remove</button></td>              
            </tr>
        }
    </table>*@

</div>
