@page
@model Grade_Manager_Razor.Pages.ClassRoomsModel
@{
    ViewData["Title"] = "Class Rooms";
}

<div>
    <h2>ClassRooms</h2>
    <form>
    <label for="className">ClassRoom Name:</label>
    <input type="text" id="clName" name="clName" value="Class to Add">
    <input type="submit" value="Submit">
    </form>

    <table>
        <tr>
            <td>C#</td>
            <td><button> Edit </button><button> Remove </button></td>
        </tr>

        <tr>
            <td>Asp.Net</td>
            <td><button> Edit </button><button> Remove </button></td>
        </tr>

        <tr>
            <td>Angular</td>
            <td><button> Edit </button><button> Remove </button></td>
        </tr>
    </table>


</div>