@page
@model IndexModel
@{
    ViewData["Title"] = "Main Menu";
}

<h1>@ViewData["Title"]</h1>

<div class="table-responsive">
    <table class="table table-striped classroom">
        <thead>
            <tr>
                <th>ClassRooms</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var classRoom in Model.ClassRooms)
            {
                <tr>
                    <td class="align-middle">@classRoom.Name</td>

                </tr>
            }
        </tbody>
    </table>
    <li>
        <a href="\ClassRooms\AddClassRoom"> Add ClassRooms </a>
    </li>

</div>
