@page
@model IndexModel
@{
    ViewData["Title"] = "State Path";
}

<h1>@ViewData["Title"]</h1>

<div class="table-responsive">
    <table class="table table-striped classroom">
        <thead>
            <tr>
                <th>ClassRoom</th>
               
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var classRoom in Model.ClassRooms)
            {
<tr>
    <td class="align-middle">@classRoom.Name</td>
    
</tr>            }
        </tbody>
    </table>
</div>
