@page "{StudentId}"
@model Grade_Manager_Razor.Pages.Students.ShowBestGradeModel
@{
    ViewData["Title"] = "Best Grade";
}

<h1>@ViewData["Title"]</h1>

<div>
    @Model.student.Name Best Assignment is:
</div>

<div>
    <table>
        <thead>
            <tr>
                <td>Assignment Name</td>
                <td>Assignment Grade</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.assignment.Name</td>
                <td>@Model.assignment.Grade</td>
            </tr>
        </tbody>
    </table>
</div>