@page
@model Grade_Manager_Razor.Pages.Students.ShowAllStudentsModel
@{
    ViewData["Title"] = "Show Students";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table>
        <thead>
            <tr>
                <td>Student Name</td>
            </tr>
        </thead>
        @foreach(KeyValuePair<string, Student> item in Model.StudentDictionary)
            {
                <tr>
                    <td>@item.Value.Name</td>
                </tr>
            }
    </table>
</div>
